In [10]:
import pandas as pd
import requests
import re
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import folium
import os
import branca.colormap as cm

In [11]:
clean_conflict = pd.read_csv('datasets/clean_conflict.csv')
colonisation_df = pd.read_csv('datasets/colonies_wikipedia.csv')
colonisation_df = colonisation_df.replace("Britain", "United Kingdom")

In [12]:
clean_conflict.head()

,Unnamed: 0,conflictid,location,sidea,side b,sidebid,incomp,terr,year,intensity,cumint,type,start_month,ependdate,region,ISO2
0,0,200,Bolivia,Bolivia,Popular Revolutionary Movement,719,2,Bolivia,1946,2,1,3,7,1946-07-21,5,BO
1,1,200,Bolivia,Bolivia,MNR,720,2,Bolivia,1952,1,1,3,7,1952-04-12,5,BO
2,2,200,Bolivia,Bolivia,ELN,721,2,Bolivia,1967,1,1,3,7,1967-10-16,5,BO
3,3,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1946,1,0,1,8,NaN,3,KH
4,4,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1947,1,0,1,8,NaN,3,KH

In [13]:
colonisation_df.head()

,Unnamed: 0,Colonized Country,ID,Day,Month,Year,Colonizer Country,URL
0,1,Iceland,IS,17,6,1944,Denmark,/wiki/Iceland
1,2,Canada,CA,1,7,1867,United Kingdom,/wiki/Canada
2,3,United States,US,4,7,1776,France,/wiki/United_States
3,4,Haiti,HT,1,1,1804,France,/wiki/Haiti
4,5,Benin,BJ,1,8,1960,France,/wiki/Benin

In [14]:
# We need to add several column: If the country was colonised, the year of decolonisation and the country that colonised.
colonizer_country = colonisation_df['Colonizer Country'].tolist()
colonized_country = colonisation_df['Colonized Country'].tolist()
year = colonisation_df['Year'].tolist()
sidea = clean_conflict['sidea'].tolist()
location  = clean_conflict['location'].tolist()
terr = clean_conflict['terr'].tolist()

In [15]:
#colonized_conflict = []
year_dec_conflict = []
colonizer_conflict= []
id_drop = []

In [16]:
for i in range(0, len(terr)):
    if terr[i] in colonizer_country:
        j = colonizer_country.index(terr[i])
       #colonized_conflict.append(colonized_country[j])
        year_dec_conflict.append(year[j])
        colonizer_conflict.append(colonizer_country[j])
    elif location[i] in colonizer_country:
        j = colonizer_country.index(location[i])
        #colonized_conflict.append(colonized_country[j])
        year_dec_conflict.append(year[j])
        colonizer_conflict.append(colonizer_country[j])
    elif sidea[i] in colonizer_country:
        j = colonizer_country.index(sidea[i])
        #colonized_conflict.append(colonized_country[j])
        year_dec_conflict.append(year[j])
        colonizer_conflict.append(colonizer_country[j])
    else:
        #colonized_conflict.append(0)
        year_dec_conflict.append(0)
        colonizer_conflict.append(0)
        id_drop.append(i)

In [17]:
len(colonizer_conflict)

2277

In [18]:
clean_conflict = clean_conflict.assign(decolonisation_year = year_dec_conflict )
clean_conflict = clean_conflict.assign(colonizer = colonizer_conflict )

clean_conflict = clean_conflict.drop(clean_conflict.index[id_drop])

In [20]:
clean_filename = 'datasets/clean_conflict_of_colonized_countries.csv'

clean_conflict.to_csv(clean_filename)